{{ partial "head.html" . }}

<body>

{{ partial "header.html" . }}

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup label { text-align: center; }
#mc_embed_signup input.email { margin: 0 auto 10px; }
#mc_embed_signup input.button { margin: 0 auto 10px; }
</style>
<div id="mc_embed_signup">
  <form action="https://mokacoding.us10.list-manage.com/subscribe/post?u=45a265e2a9d2b9dbec5f98d51&amp;id=4a243972ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Drop your email to know when we'll start posting</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_45a265e2a9d2b9dbec5f98d51_4a243972ed" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->

<main>
  {{ range (.Paginator 5).Pages }}
    {{ .Render "summary" }}
  {{ end }}
</main>

{{ partial "paginator.html" . }}

{{ partial "footer.html" . }}

</body>
